@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
}

.caixa1{
    background-color: aqua;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.caixa2{
    background-color: darkcyan;
    grid-row: 2/ -1;
    grid-column: 1 /3;
}

.caixa3{
    background-color: cornflowerblue;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}