@charset "UTF-8";

.container{
    display: grid;
     grid-template-rows: repeat(5,100px);
    grid-template-columns: repeat(6,1fr);
}

.topo{
    background-color: aqua;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 7;
}

.menu{
     background-color: rgb(133, 194, 194);
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end:3   ;
    grid-column-end: 7;
}

.principal{
    background-color: red;
     grid-row-start: 3;
     grid-column-start: 1;
     grid-row-end:7;
     grid-column-end: 5;
}

.secundario{
    background-color: blue;
     grid-row-start: 3;
     grid-column-start: 5;
     grid-row-end:6;
     grid-column-end: 7;
}

.rodape{
     background-color: rgb(122, 122, 235);
     grid-row-start: 6;
     grid-column-start: 1;
     grid-row-end:6;
     grid-column-end: 7;
}