@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: repeat(8,100px);
    grid-template-columns: repeat(9, 1fr);
}

.caixa1{
    background-color:cornflowerblue;
     grid-row-start:1 ;
     grid-row-end:9 ;
     grid-column-start:1;
     grid-column-end:3;
}

.caixa2{
background-color:cadetblue;
     grid-row-start:1 ;
     grid-row-end:5 ;
     grid-column-start:3 ;
     grid-column-end: 10;
}

.caixa3{
background-color:aquamarine;
    grid-row-start: 5;
     grid-row-end:9 ;
     grid-column-start:3 ;
     grid-column-end:6;
}

.caixa4{
background-color:blue;
    grid-row-start:5 ;
     grid-row-end:9 ;
     grid-column-start:6 ;
     grid-column-end:8;
}

.caixa5{
     background-color:aqua;
    grid-row-start: 5;
     grid-row-end:9 ;
     grid-column-start: 8;
     grid-column-end:10 ;
}